# CUBE
CUBEJS_DB_TYPE=postgres

# For Mac
# CUBEJS_DB_HOST=host.docker.internal

# For Windows
# CUBEJS_DB_HOST=docker.for.win.localhost

# For Linux
# CUBEJS_DB_HOST=localhost


# REDIS_URL=redis://redis_db:6379/0
CUBEJS_DB_NAME=postgres
CUBEJS_DB_USER=postgres
CUBEJS_DB_PASS=postgres
# CUBEJS_WEB_SOCKETS=true
CUBEJS_DEV_MODE=true
CUBEJS_API_SECRET=SECRET


# Email password to send activation emails (must be added in local .env file)
EMAIL_HOST_PASSWORD=

# Credentials for django admin account
ADMIN_USERNAME = ""
ADMIN_EMAIL = ""
ADMIN_PASSWORD = ""

# Parameters for GraphQL API testing
GRAPHQL_URL = "http://localhost:8000/graphql/"
TEST_USERNAME = ""
TEST_EMAIL = ""
TEST_PASSWORD = ""
